<h1>Editar login</h1>
<hr>

<div class="card">
    {{#each dadosDeUsuario}}
        <p>{{nome}}</p>
        <p>{{idade}}</p>
        <p>{{email}}</p>
        <p>{{senha}}</p>
    {{else}}

    {{/each}}
</div>